<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prjLojaCarros.Properties.Settings.prjLojaCarrosConnectionString"
            connectionString="Data Source=prjLojaCarros.mssql.somee.com;Initial Catalog=prjLojaCarros;User ID=paola_costa_SQLLogin_1;Password=3978r7mh59"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>